  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Orbitron';
}


body {
  height: 100vh;
}

header{
  background-image: url("https://img.freepik.com/fotos-gratis/fundo-de-tecnologia-do-circuito-da-placa-mae-em-gradiente-azul_53876-124654.jpg?w=1060&t=st=1677521794~exp=1677522394~hmac=d92393a0c97360cc0c0366dec581c53981e8a31028b9ec12f601b69621fe6954");
  width: 100%;
  height: 120px;
  display: grid;
  place-content: center;
}

.header--trade {
  border: 1px solid black;
  text-align: center;
}

main{
  margin-top: 5%;
  padding: 10%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap:wrap-reverse;
  
}

.koro--status{
  display: flex;
  justify-content: start;
  align-items: center;
}

.koro--status ul{
  text-align:start;
  font-size: 24px;
  list-style: none;
  width: 100%;
  
}

.status--meter{
  border: solid 1px black;
  width: 150px;
  height: 25px;
  background-image: linear-gradient(to right, #0151e6,#0867d9, #02bcf5);
  text-align: center;
}

.koro--vice{
  background-image: url("https://img.freepik.com/fotos-gratis/fundo-de-tecnologia-do-circuito-da-placa-mae-em-gradiente-azul_53876-124654.jpg?w=1060&t=st=1677521794~exp=1677522394~hmac=d92393a0c97360cc0c0366dec581c53981e8a31028b9ec12f601b69621fe6954");
  height: 300px;
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 8px solid rgb(234, 234, 0);
  border-radius: 10px;
}

.koro--screen{
  background-image: url(../img/t-child.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  border: 8px solid rgb(234, 234, 0);
  border-radius: 8px;
  height: 80%;
  width: 100%;
  max-width: 60%;
  display: grid;
  place-content: center;
  gap: 10%;
  position: relative;
}

.koro--screen img{
  min-width: 80px;
}

.koro--actions{
  background-color: #eeeeeed3;
  position: absolute;
  width: 100%;
  bottom: 0;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
}

.koro--cycle{
  background-color: #eeeeeed3;
  position: absolute;
  width: 16%;
  font-size: 14px;
  font-weight: 700;
  top: 0;
  border: 1px solid;
  text-align: start;
}

.actions-element{
  padding: 0 3%;
}

.actions-element:hover{
  background-color:#222;
  color: aliceblue;
}

.koro--commands{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%; 
  height: 100%;
  gap: 5%;
}

.koro--commands i{
  font-size: 30px;
}

@media screen and (max-width: 750px){
  
  
  .koro--vice{
    margin-top: 7%;
  }
  
  .koro--status{
    margin-top: 20%;
    width: 100%;
  }
  .koro--status ul{
    display: flex;
    justify-content: space-around;
  }
}
/* background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pu2344531-image-kwvy7nwm.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=df9d83805bc89e963041e7c2e1dd09f1"); */